* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  color: #fff;
  font-family: "Raleway", sans-serif;
  background: hsl(219, 30%, 18%);
}
a {
  text-decoration: none;
  color: #fff;
}
p {
  font-size: 1.4rem;
}
li {
  list-style: none;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
header {
  background: hsl(219, 30%, 18%);
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-options {
  width: 100%;
}

.nav-options ul {
  display: flex;
  justify-content: right;
  align-items: center;
}

.nav-options ul li {
  margin: 0 2rem;
}

.nav-options ul li a {
  display: block;
  padding: 1rem;
}

/* Main */

.main {
  position: relative;
  padding: 5rem 0;
}

.main-content {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 10;
}

.box-picture img {
  max-width: 100%;
  width: 100%;
}

.title-description {
  font-size: 2.2rem;
  font-weight: 600;
  margin: 2rem 0;
}

.btn-GetStarted {
  width: 200px;
  padding: 1.2rem;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  border: none;
  border-radius: 3rem;
  margin: 2rem 0;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
}

.main-img-background {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 5;
}

.main-img-background img {
  width: 100%;
}

/* Section Cards */

.main-cards {
  padding: 5rem 0;
  background: hsl(218, 28%, 13%);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 5rem;
}

.card {
  padding: 2rem;
  text-align: center;
}

.card h3 {
  margin: 2rem 0 1rem;
}

/* Section Info */

.main-info {
  background: hsl(218, 28%, 13%);
  padding: 5rem 0;
}

.main-info .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img-info img {
  max-width: 100%;
  width: 100%;
}

.main-info .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}

.content h2,
.content p,
.content button {
  margin: 1rem 0;
}

.btn-info-link {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid hsl(176, 68%, 64%);
  color: hsl(176, 68%, 64%);
  cursor: pointer;
  padding: 0.5rem;
  transition: 0.2s;
}

.btn-info-link i {
  font-size: 1rem;
}

.btn-info-link:hover {
  background: hsl(176, 68%, 64%);
  color: hsl(218, 28%, 13%);
  box-shadow: 0 0 5px hsl(176, 68%, 64%);
}

/* Section Article */

.main-articles {
  padding: 5rem 0 15rem;
  background: hsl(218, 28%, 13%);
}

.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  position: relative;
}

.article {
  background: hsl(217, 28%, 15%);
  box-shadow: 0 0 5px hsl(219, 30%, 18%);
  padding: 2rem;
}

.article > p {
  margin-bottom: 2rem;
}

.people-article {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 1rem;
}

.people-article img {
  border-radius: 50%;
  max-width: 100%;
  width: 100%;
}

.info-people {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-people p {
  font-size: 1rem;
}

.img-quotes {
  position: absolute;
  top: -3rem;
  left: -1rem;
}

/*  */

.container-send {
  width: 80%;
  margin: 0 auto;
  background: hsl(219, 30%, 18%);
}

/* Footer */

.footer {
  background: hsl(216, 53%, 9%);
  padding: 5rem 0;
}

.info-footer {
  display: grid;
  grid-template-columns: 3fr 2fr 3fr 1fr;
  padding: 2rem 0;
}

.contact p {
  margin: 1rem 0;
}

.menu-footer {
  padding: 0 2rem;
}

.menu-footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-footer ul li {
  padding: 1rem 3rem;
}